<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Email</title>
</head>
<body>
Please enter your name and pick the Sectors you are currently involved in.
<br>
<br>
<form action="#" th:action="@{/form}"  th:object="${formRequest}" method="post">
    <div>
        <label for="userName">Username</label>
        <input type="text" th:field="*{userName}" id="userName">
        <td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"/>
    </div>

    <br>
    <br>
    Sectors:
    <select th:field="*{categoryUuid}" multiple="" size="5" th:fragment="submenu" th:with="mycounter=${''}">
        <ul>
            <li th:each="cat : ${categories} " >
                <option th:value="${cat.getUuid()}" th:text="${mycounter + cat.getName()}" />
                <div th:with="categories = ${cat.getChildCategories()}, mycounter = ${mycounter + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'}" th:include="form :: submenu"></div>
            </li>
        </ul>
    </select>



    <td th:if="${#fields.hasErrors('categoryUuid')}" th:errors="*{categoryUuid}"/>

    <br>
    <br>
    <input type="checkbox" th:field="*{agreeToTerms}" > Agree to terms
    <br>
    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>